/* styles.css */

body {
    font-family: 'Average';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #927f7f;
    padding: 20px;
    text-align: left;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    padding: 20px;
}

nav {
    display: flex;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

.right-section {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}

.button-container {
    margin-bottom: 20px;
    align-self: flex-start; 
}

.buttons {
    display: flex;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0.5em 1.7em;
    margin: 0 20px 0 0;
    border: 0.16em solid rgb(243, 152, 152);
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #f7a3a3;
    text-shadow: 0 0.04em 0.04em rgba(79, 64, 64, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.photo-and-text {
    margin-top: auto;
    text-align: center;
}

.photo-and-text img {
    max-width: 100%;
    height: auto;
    display: block;
}

.photo-and-text p {
    margin-top: 20px;
    color: #333;
}
